
{% extends "base.html" %}
{% block title %} {% endblock %}

{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bar_plot.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
{% if graphSelected %}
  {{ js_resources|indent(4)|safe }}
  {{ css_resources|indent(4)|safe }}
  {{ plot_script|indent(4)|safe }}
{% endif %}
{% endblock %}


{% block page_content %}
<h2> Select the feature to plot in bar graph. </h2>
  <form method = "POST">
    <div class = "selection-container">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for features.." title="Type in a name">
      <ul id="myUL">
          {% for col in columns %}
        <li><label for="01"><input type="checkbox" name="parameters" value={{ col }}> {{ col }}</label></li>
          {% endfor %}  
      </div>  
    <select name="selected_type" id="selected_type">
        <option value="Vertical"> Vertical </option>
        <option value="Horizontal"> Horizontal </option>
        </select>
    <br><br>
    <input type="submit" value="Submit">
  </form>

{% if graphSelected %}
<a href="{{ url_for('download_csv',path = path) }}">Click here to download graph as csv.</a>
{% endif %}

{% if graphSelected %}
<h1 style="text-align: center; margin-bottom: 40px;"> Pie Plot of parameter {{ selected }} </h1>
<div style="display: flex; justify-content: center;">
    {{ plot_div|indent(4)|safe }}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='js/bar_plot.js') }}"></script>
{% endblock %}


