
{% extends "base.html" %}
{% block title %} {% endblock %}

{% block head %}
{{ super() }}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bar_plot.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
{% if graphSelected %}
  {{ js_resources|indent(4)|safe }}
  {{ css_resources|indent(4)|safe }}
  {{ plot_script|indent(4)|safe }}
{% endif %}
{% endblock %}


{% block page_content %}
<form method = "POST">
  <div class = "container mt-3">
{% if graphSelected %}
<div class="container d-flex h-100">
  <div class="row justify-content-center align-self-center">
  <h1 class="display-4">Bar plot of parameter ({{ selected }})</h1>
  </div>
</div>
<hr/>
<div style="display: flex; justify-content: center;">
    {{ plot_div|indent(4)|safe }}
</div>
<a class="btn btn-success mt-2 ml-2" href="{{ url_for('download_csv',path = path) }}">Download graph as csv</a>
{% endif %}
<hr/>
<div class="container d-flex h-100">
  <div class="row justify-content-center align-self-center">
  <h1 class="display-4">Select the feature to plot in bar graph</h1>
  </div>
</div>
<hr/>
      <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for features.." title="Type in a name">
      <ul id="myUL">
        {% for col in columns %}
          <li class="list-group-item"><label for="01"><input type="checkbox" name="parameters" value='{{ col }}'> {{ col }}</label></li>
        {% endfor %}
      <br>
      <select name="selected_type" class="form-control" class="form-control" id="selected_type">
        <option value="Vertical"> Vertical </option>
        <option value="Horizontal"> Horizontal </option>   
      </select>
      <input type="submit" class="btn btn-primary btn-lg btn-block active" value="Submit">

  </div>
</form>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='js/bar_plot.js') }}"></script>
{% endblock %}


