
{% extends "base.html" %}
{% block title %} {% endblock %}

{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bar_plot.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
{% if graphSelected %}
  {{ js_resources|indent(4)|safe }}
  {{ css_resources|indent(4)|safe }}
  {{ plot_script|indent(4)|safe }}
{% endif %}
{% endblock %}

{% block page_content %}
{% if graphSelected %}
<a href="{{ url_for('download_csv',path = path) }}">Click here to download graph as csv.</a>
{% endif %}


  <h2> Select featrures for correlation matrix : </h2>
  <form method="post">
  <div class = "selection-container">
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for features.." title="Type in a name">
  <ul id="myUL">
      {% for col in columns %}
    <li><label for="01"><input type="checkbox" name="parameters" value={{ col }} checked> {{ col }}</label></li>
      {% endfor %}  
  </div>  
    <input type="checkbox" onClick="toggle(this)" /> Toggle All<br/>
      <input type="submit" class='sumbit'>
  </ul>
  </form>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='js/bar_plot.js') }}"></script>
{% endblock %}



