
{% extends "base.html" %}
{% block title %} {% endblock %}

{% block head %}
{{ super() }}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bar_plot.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
{% if graphSelected %}
  {{ js_resources|indent(4)|safe }}
  {{ css_resources|indent(4)|safe }}
  {{ plot_script|indent(4)|safe }}
{% endif %}
{% endblock %}

{% block page_content %}
<form method="post">
  <div class = "container mt-3">
    {% if graphSelected %}
      <h1 style="text-align: center; margin-bottom: 40px;"> Correlation matrix: </h1>
      <div style="display: flex; justify-content: center;">
        {{ plot_div|indent(4)|safe }}
      </div>
      <a class="btn btn-success mt-2" href="{{ url_for('download_csv',path = path) }}">Download graph as csv</a>
    {% endif %}
    <hr/>
    <h2> Select features for correlation matrix</h2>
    <button type='button' class= "btn btn-primary mt-2" onClick="toggle(this)" /> Toggle All</button>
    <input type="text" class="form-control mt-2" id="myInput" onkeyup="myFunction()" placeholder="Search for features.." title="Type in a name">
    <ul id="myUL">
      {% for col in columns %}
        <li class="list-group-item" ><label for="01"><input type="checkbox" name="parameters" value = '{{ col }}' checked> {{ col }}</label></li>
      {% endfor %}
    </ul>
    <input type="submit" class= "btn btn-primary mt-2" value="Submit">
  </div>
</form>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='js/bar_plot.js') }}"></script>
{% endblock %}



