

{% extends "base.html" %}
{% block title %} {% endblock %}

{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bar_plot.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
{% if graphSelected %}
  {{ js_resources|indent(4)|safe }}
  {{ css_resources|indent(4)|safe }}
  {{ plot_script|indent(4)|safe }}
{% endif %}
{% endblock %}


{% block page_content %}
<h2> Select a feature to plot histogram: </h2>
<form method = "POST">
  <label for="parameter">Choose a parameter:</label>
  <select name="selected_parameter" id="selected_parameter">
  {% for col in columns %}
  <option value={{ col }}> {{ col }} </option>
  {% endfor %}
  </select>
  <br><br>
  <p>Number of bins (default = 20) <input type = "text" name = "numberBin" /></p>
  <input type="submit" value="Submit">
</form>

{% if graphSelected %}
<a href="{{ url_for('download_csv',path = path) }}">Click here to download graph as csv.</a>
{% endif %}

{% if graphSelected %}
<h1 style="text-align: center; margin-bottom: 40px;"> Histogram plot of parameter {{ selected  }} </h1>
<div style="display: flex; justify-content: center;">
  {{ plot_div|indent(4)|safe }}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='js/bar_plot.js') }}"></script>
{% endblock %}


