.checkboxes li {
  display: block;
  float: left;
  width: 25%;
}
.submit{
	width: 90px;
	height: 40px;
}

body {
	background:   rgba(112, 203, 255, 0.3);
}

label {
  border:0px solid #ccc;
 padding:3px;
 margin:0 0 3px;
 display:block; 
}

label:hover {
 background:#eee;
 cursor:pointer;
}

.container { 
	border:2px; 
	solid #ccc; 
	width:500px; 
	height: 500px; 
	overflow-y: scroll;
}