{% extends "base.html" %}
{% block title %} {% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/select_algo.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
{% endblock %}


{% block page_content %}
<div class = "container mt-5">
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">
		<h1 class="display-4">Select the training algorithm</h1>
    </div>
</div>
<hr/>
  <div class= "form-control">
  <select class= "selector" name= 'selector' id= 'selector'>
    <option value="0" disabled="disabled" selected>Select algorithm:</option>

    <option value="none" disabled="disabled"> -- Regression Task </option>
    {% if regression_model %}
      <option value="LinearRegression">Linear Regression</option>
      <option value="RandomForestRegressor">Random Forest Regressor</option>
      <option value="SVR">Support Vector Regressor</option>
      <option value="AdaBoostRegressor">Adaboost Regressor</option>
    {% endif %}

    <option value="none" disabled="disabled"> -- Classification Task </option>
    {% if classification_model %}
      <option value="RandomForestClassifier">Random Forest Classifier</option>
      <option value="LogisticRegression">Logistic Regression</option>
      <option value="SVC">Support Vector Classifier</option>
      <option value="AdaBoostClassifier">Adaboost Classifier</option>
    {% endif %}
  </select>
  </div>
<div class = "container mt-2" id = 'deneme'></div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src= "{{ url_for('static',filename='js/select_algo.js') }}"></script>
{% endblock %}





