<!DOCTYPE html>
<html>
<head>
<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('hello');
  for(var checkbox in checkboxes)
    checkbox.checked = source.checked;
}
</script>
<style>
.checkboxes li {
  display: block;
  float: left;
  width: 25%;
}
.submit{
	width: 90px;
	height: 40px;
}
body {
	background: rgba(0, 128, 0, 0.3);
}
</style>
</head>
    <h1>Select variables that will be used in training </h1>
<form method="post">
<button type='button' onClick='toggle(this)'>Toggle All</button>
<ul class='checkboxes'>
	
{% for col in columns %}
<li><input type="checkbox" name="hello" value= {{ col }} checked>
    {{ col }}</li>
{% endfor %}
</ul>
<input type="submit" class='sumbit'>
</form>