
{% extends "base.html" %}
{% block title %} {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/select_y_variable.css') }}">
{% endblock %}


{% block page_content %}
<h1>Select variables that will be used in training </h1>
<form method="post">
<button type='button' onClick='toggle(this)'>Toggle All</button>
<table>
<tr>
{% for type in types %}
<td>{{ type }}</td>
{% endfor %}
</tr>
{% for column in columns %}
<tr>
{% for elem in column %}
<td><input type="checkbox" name="hello" value= {{ elem }} checked>
    {{ elem }}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
<input type="submit" class='submit'>
</form>

{% endblock %}

{% block scripts %}
<script src = "{{ url_for('static',filename='js/select_y_variable.js') }}"></script>
{% endblock %}


