
{% extends "base.html" %}
{% block title %} {% endblock %}

{% block head %}
{{ super() }}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/upload_file.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
{% endblock %}


{% block page_content %}

<form action="" method=post enctype=multipart/form-data>		
	<div class = "container mt-5">
		<div class="container d-flex h-100">
            <div class="row justify-content-center align-self-center">
                <h1 class="display-4">Add dataset to workspace</h1>
            </div>
        </div>
        <hr/>
		<div class="form-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" name=file>
                <label class="custom-file-label" for="customFile">Upload your data in the CSV or TXT format</label>
              </div>
            <hr>
            <input type = "text" class="form-control" name = "delimitter" placeholder="Delimitter (only for TXT)"/>
            <br>
            <input type = "text" class="form-control" name = "qualifier" placeholder='String qualifier (only for TXT)'/>
		</div>
		<div class="form-group form-check">
        	<input class="form-check-input" type="checkbox" name="is-value-type" value = 1 checked>
            
            <label class="form-check-label" >First row in the txt file contains datatypes (only for TXT).</label>
        </div>
        <input class="btn btn-primary active btn-block btn-lg" type=submit value=Upload>
        <br>
        <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            ?
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <div class="container p-3 my-3 bg-primary text-white">For text files, to indicate which features have which datatype,
                use the first row of your data as the indicator of the features' datatypes.  An example format of the text files that are supported
                given in the table below.
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">Datatypes</th>
                            <td scope="col">string</td>
                            <td scope="col">integer</td>
                            <td scope="col">bool</td>
                        </tr>
                      <tr>
                        <th scope="col">Features</th>
                        <td scope="col">Name</td>
                        <td scope="col">Age</td>
                        <td scope="col">Married</td>
                      </tr>
                      <tr>
                        <th scope="row">Data 1</th>
                        <td>Mark</td>
                        <td>42</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <th scope="row">Data 2</th>
                        <td>Jacob</td>
                        <td>37</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <th scope="row">Data 3</th>
                        <td>Larry</td>
                        <td>24</td>
                        <td>0</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
        

	</div>    
</form>

<div class = "container mt-5">
<div class="scrollmenu">
  <table>
      <tr>
          {% for col in column_names %}
          <th>{{col}}</th>
          {% endfor %}
      </tr>
      {% for row in row_data %}
      <tr>
          {% for col, row_ in zip(column_names, row) %}
          {% if col == link_column %}
          <td>
              <button type="submit" value={{ row_ }} name="person_id" form="patient_form" class="patient_button">
                  {{ row_ }}
              </button>
          </td>
          {% else %}
          <td>{{row_}}</td>
          {% endif %}
          {% endfor %}
      </tr>
      {% endfor %}
  
  </table>
</div>
{% if isLoaded %}
<h2>Data with {{ rowS }} samples and {{ colS }} features is loaded successfully! </h2>
{% endif %}
</div>


{% endblock %}

{% block scripts %}
<script type="application/javascript">
    $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });
</script>
{% endblock %}


