<!DOCTYPE html>
<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/workspace.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
</head>

<div class="navbar">
  <a href="/">Load Dataset</a>
  <div class="dropdown">
    <button class="dropbtn">Visualize
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{ url_for('correlation_graph') }}">Correlation Matrix</a>
      <a href="{{ url_for('scatter_graph') }} ">Scatter Matrix</a>
      <a href="{{ url_for('pie_graph') }} ">Pie Graph</a>
      <a href="{{ url_for('dist_graph') }} ">Histogram</a>
      <a href="{{ url_for('bar_graph') }} ">Bar Graph</a>
    </div>
    
  </div>

  <div class="dropdown">
    <button class="dropbtn">Attributes
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{ url_for('select_variables') }}">Choose X</a>
      <a href="{{ url_for('select_y') }} ">Choose Y</a>
      <a href="{{ url_for('pca_transform') }} ">PCA</a>
      <a href="{{ url_for('create_column') }}">Column Transform</a>
      <a href="{{ url_for('filter_transform') }} ">Filter</a>
    </div>
  </div>
    <a href="{{ url_for('selectAlgo') }}">Algorithms</a>
</div>

<div>
  <h1>Active Workspaces</h1>
  <form method="post" >
<input type="submit" name="Add Workspace" value="Add Workspace">
 </form>
  <div class = 'workspaces'>
  {% if workspaces is not none %}
    {% for workspace in workspaces %}
    <a href= "{{ url_for('workspace', active_workspace = workspace ) }}">{{ workspace }}</a>
    {% endfor %}
  {% endif %}
</div>
</div>

{% if DataFrames is not none %}
<div> 
  <h1>Workspace: {{ active_workspace }}</h1>
    <form method="post" >
<input type="submit" name="Delete Workspace" value="Delete Workspace">
 </form>
  <h2>Active DataFrames</h2>
    <form method="post" >
<input type="submit" name="Save DataFrame" value="Save DataFrame">
 </form>
  <div class= "workspaces">
  {% for DataFrame in DataFrames %}
  <a href= "{{ url_for('workspace', active_workspace =active_workspace, active_dataframe = DataFrame) }}">{{DataFrame}}</a>
  {% endfor %}
</div>
</div>
{% endif %}

<div class="scrollmenu">
  <table>
      <tr>
          {% for col in column_names %}
          <th>{{col}}</th>
          {% endfor %}
      </tr>
      {% for row in row_data %}
      <tr>
          {% for col, row_ in zip(column_names, row) %}
          {% if col == link_column %}
          <td>
              <button type="submit" value={{ row_ }} name="person_id" form="patient_form" class="patient_button">
                  {{ row_ }}
              </button>
          </td>
          {% else %}
          <td>{{row_}}</td>
          {% endif %}
          {% endfor %}
      </tr>
      {% endfor %}
  
  </table>
</div>

<div class='yazi'>
  {% if isLoaded %}
     <form method="post" >
     <input type="submit" name="Select DataFrame" value="Select as current DataFrame">
<input type="submit" name="Delete DataFrame" value="Delete DataFrame">
 </form>
  {% endif %}

  {% for error in errors %}
    <h2> {{ error }} </h2>
  {% endfor %}
</div>

<div class = "container">
  {% for message in get_flashed_messages() %}
  <div class = "alert alert-warning">
      <button type = "button" class = "close" data-dismiss = "alert">&times;</button>
      {{ message }}
  </div>
  {% endfor %}
</div>


</html>