
{% extends "base.html" %}
{% block title %} {% endblock %}

{% block head %}
{{ super() }}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/workspace.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
{% endblock %}


{% block page_content %}
<div class= ".container-fluid">
  <h1>Active Workspaces<span class="badge badge-primary"><form method="post"><input type="submit" class="btn btn-primary" name="Add Workspace" value="Add Workspace"></form></span></h1>
  <div class="btn-group ">
    {% if workspaces is not none %}
      {% for workspace in workspaces %}
        <a class="btn btn-info" href= "{{ url_for('workspace', active_workspace = workspace ) }}">{{ workspace }}</a>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% if DataFrames is not none %}
<div class= ".container-fluid"> 
  <h1>Workspace: {{ active_workspace }}</h1>
  	<form method="post" >
		<input type="submit"  class="btn btn-primary" name="Delete Workspace" value="Delete Workspace">
	</form>
  <h2>Active DataFrames</h2>
  <form method="post">
	<input type="submit" class="btn btn-primary" name="Save DataFrame" value="Save DataFrame">
    <input type="submit" class="btn btn-primary" name="Download DataFrame" value="Download DataFrame">
  </form>
  <div class= "btn-group">
    {% for DataFrame in DataFrames %}
      	<a class="btn btn-info" href= "{{ url_for('workspace', active_workspace =active_workspace, active_dataframe = DataFrame) }}">{{DataFrame}}</a>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="scrollmenu">
  <table>
      <tr>
          {% for col in column_names %}
          <th>{{col}}</th>
          {% endfor %}
      </tr>
      {% for row in row_data %}
      <tr>
          {% for col, row_ in zip(column_names, row) %}
          {% if col == link_column %}
          <td>
              <button type="submit" value={{ row_ }} name="person_id" form="patient_form" class="patient_button">
                  {{ row_ }}
              </button>
          </td>
          {% else %}
          <td>{{row_}}</td>
          {% endif %}
          {% endfor %}
      </tr>
      {% endfor %}
  
  </table>
</div>

<div class='yazi'>
  {% if isLoaded %}
     <form method="post" >
      <input type="submit" class="btn btn-primary" name="Select DataFrame" value="Select as current DataFrame">
      <input type="submit" class="btn btn-primary" name="Delete DataFrame" value="Delete DataFrame">
      </form>
  {% endif %}

  {% for error in errors %}
    <h2> {{ error }} </h2>
  {% endfor %}
</div>



<div class = "scrollmenu">
  {% for log in logs %}
  <ul>
    {{ log }}
  </ul>
  {% endfor %}
</div>
<form method="post" >
  <input type="submit" class="btn btn-primary" name="Clear Log" value="Clear Log">
   </form>
</html>
    
{% endblock %}


    <div class=".container-fluid pt-2">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>



{% endblock %}

{% block scripts %}

{% endblock %}


