<!DOCTYPE html>
<html lang="en">
<head>
<script src="{{ url_for('static',filename='js/filter_transform.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/filter_transform.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% if graphSelected %}
        {{ js_resources|indent(4)|safe }}
        {{ css_resources|indent(4)|safe }}
        {{ plot_script|indent(4)|safe }}
    {% endif %}
</head>

<body>
  
<div class="navbar">
  <a href="/">Load Dataset</a>
  <div class="dropdown">
    <button class="dropbtn">Visualize
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{ url_for('correlation_graph') }}">Correlation Matrix</a>
      <a href="{{ url_for('scatter_graph') }} ">Scatter Matrix</a>
      <a href="{{ url_for('pie_graph') }} ">Pie Graph</a>
      <a href="{{ url_for('dist_graph') }} ">Histogram</a>
      <a href="{{ url_for('bar_graph') }} ">Bar Graph</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Attributes
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{ url_for('select_variables') }}">Choose X</a>
      <a href="{{ url_for('select_y') }} ">Choose Y</a>
      <a href="{{ url_for('pca_transform') }} ">PCA</a>
      <a href="{{ url_for('create_column') }}">Column Transform</a>
      <a href="{{ url_for('filter_transform') }} ">Filter</a>
    </div>
  </div>
    <a href="{{ url_for('selectAlgo') }}">Algorithms</a>
</div>



<h2> Please choose features to filter your dataset.</h2>
Features not selected has no effect in filtering.
  <form action="" method="post" style="display:block">
    <div class = "container">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for features.." title="Type in a name">
    <ul id = "myUL">
      {% for col in cols %}
      <li><label for="myCheck"><input type="checkbox" class="myCheck" onclick="myFunction2()" value = 1>{{ col }}:</label></li> 
    
      {% if col in objectCols %}
      <ul class = "text" style = "display:none">
        {% for r in df[col].unique() %}
        <input type = "checkbox" name = {{ col }} value = "{{ r }}" checked> {{ r }}
        {% endfor %}
      </ul>
      {% endif %} 
      
      {% if col not in objectCols %}
      <ul class = "text" style = "display:none">
          <p>Lower Limit <input type = "text" name = {{ col }} /></p>
          <p>Upper Limit <input type = "text" name = {{ col }} /></p>
        </ul>
      {% endif %} 
      
      {% endfor %}
    </ul>
      </div>
   
      <input type="submit" class='submit'>
    </form>


    
{% if error %}
<p><h3 style = "color : gray;">{{ error }} </h3></p>
{% endif %}

<div class = "container">
  {% for message in get_flashed_messages() %}
  <div class = "alert alert-warning">
      <button type = "button" class = "close" data-dismiss = "alert">&times;</button>
      {{ message }}
  </div>
  {% endfor %}
</div>

</body>



</html>


