
{% extends "base.html" %}
{% block title %} {% endblock %}

{% block head %}
{{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/pca_transform.css') }}">
  {% if graphSelected %}
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
  {% endif %}
{% endblock %}


{% block page_content %}
<form action="" method = "post" enctype="multipart/form-data">
    {% block page_content %}
    <div class = "container mt-5">
      <h1 style = "color : gray;">Enter the parameters for PCA transformation.</h1>
		<div class = "form-group">
    		    <label class="form-check-label" >Reduced dimension (number of components after transformation)</label>  
            <input type="text" class="form-control" name="n_component"> 
   			<label class="form-check-label" >Variance ratio (not required)</label>
            <input type="text" class="form-control" name="variance_ratio">
      	</div>
      <input type="submit" class="btn btn-primary active" value="submit">
	</div>
</form>

{% if graphSelected %}
<h1 style="text-align: center; margin-bottom: 40px;"> Cumilative Variance </h1>
<div style="display: flex; justify-content: center;">
    {{ plot_div|indent(4)|safe }}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='js/pca_transform.js') }}"></script>
{% endblock %}


